<p id="notice"><%= notice %></p>

<h1>Leituras</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Valor</th>
      <th>Sensor</th>
      <th>Tipo Sensor</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leituras.each do |leitura| %>
        <td><%= leitura.id %></td>
        <td><%= leitura.valor %></td>
        <td><%= leitura.sensor.nome_sensor %></td>
        <td><%= leitura.sensor.tipo_sensor.tipo_sensor %></td>
        <td><%= leitura.sensor.cliente.nome_empresa %></td>
        <td><%= link_to 'Show', leitura %></td>
        <td><%= link_to 'Edit', edit_leitura_path(leitura) %></td>
        <td><%= link_to 'Destroy', leitura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leitura', new_leitura_path %>
