<p id="notice"><%= notice %></p>

<p>
  <strong>Flag_notificação:</strong>
  <%= @status.flag %>
</p>

<p>
  <strong>Flag_rearme:</strong>
  <%= @status.flag_rearme %>
</p>

<p>
  <strong>Flag_rearme:</strong>
  <%= @status.flag_mantec %>
</p>

<p>
  <strong>Sensor:</strong>
  <%= @status.sensor_id %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
