<!DOCTYPE html>
<html>
  <head>
    <title>AMPM CONTROL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p><font size="6" color="gray">ÁREA DO ADMINISTRADOR</font></p>
  <div class="topnav"> 
    <a href="/login">Login</a>
  </div>
    <p><font size="5" color="gray">Digite CPF e Senha para Acessar o Sistema</font></p>   
    <%= yield %>
  </body>
</html>
